{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://kit.fontawesome.com/3c78e0d776.js" crossorigin="anonymous"></script>
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo.svg' %}" alt="Logo">
        <span class="logo">Chatbot</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house-user"></i>Главная</li></a>
            <a href="{% url 'about' %}"><li><i class="fa-regular fa-list"></i>О боте</li></a>
            <a href="{% url 'bot' %}"><li><i class="fa-brands fa-rocketchat"></i>Бот</li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>